@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";


.app {
  $color: var(--primary-color);

  font: var(--font-l);

  background: var(--bg-color);
  color: $color;

  min-height: 100vh;
  a {
    color: $color;
    text-decoration: underline;

    &:visited {
      $visited: #656565;
      color: $visited;
    }
  }
}