.wrapper {
  position: relative;
}

.menu {
  background: var(--dark-bg-redesigned);
  position: absolute;
  z-index: 10000;
  border-radius: 18px;
  border: 1px solid var(--accent-redesigned);
  flex-direction: column;
  display: flex;
  overflow: hidden;
}

.btn {
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

.item {
  padding: 10px 25px;
  width: 100%;
  border: none;
  background: none;
  outline: none;
  color: var(--text-redesigned);
  cursor: pointer;
}

.disabled {
  opacity: 0.7;
}

.active {
  background: var(--light-bg-redesigned);
}

.optionsBottomLeft {
  top: 100%;
  right: 0;
}

.optionsBottomRight {
  top: 100%;
  left: 0;
}

.optionsTopRight {
  bottom: 100%;
  left: 0;
}

.optionsTopLeft {
  right: 0;
  bottom: 100%;
}
