.app_dark_theme {
  --bg-color: #000;
  --secondary-bg-color: #2e2f34;
  --primary-color: #3f3;
  --inverted-primary-color: #000;
  --secondary-color: #108c00;
  --inverted-secondary-color: #2e2f34;
  --error-color: #f00;
  --error-color-dark: #b00000;
}