.app_dark_theme {
  --bg-color: #000;
  --secondary-bg-color: #2e2f34;
  --primary-color: #3f3;
  --inverted-primary-color: #000;
  --secondary-color: #108c00;
  --inverted-secondary-color: #2e2f34;
  --error-color: #f00;
  --error-color-dark: #b00000;
  --code-bg: #393d4d;
  --card-bg: #393d4d;
  --listbox-bg: #393d4d;

  // redesigned
  --dark-bg-redesigned: #090F11;
  --bg-redesigned: #0C1214;
  --light-bg-redesigned: #151C1F;
  --text-redesigned: #DBDBDB;
  --hint-redesigned: #555;
  --cancel-redesigned: #D95757;
  --save-redesigned: #6CD98B;
  --icon-redesigned: #74A2B2;
  --accent-redesigned: #5ED3F3;

  // Skeleton
  --skeleton-shadow: rgb(51 255 51 / 60%);
  --skeleton-color: rgb(51 255 51 / 60%);
}