.app_normal_theme {
  --bg-color: #e1ccbb;
  --secondary-bg-color: #c59b78;
  --primary-color: #3a3a3a;
  --inverted-primary-color: #e1ccbb;
  --secondary-color: #6c6c6c;
  --inverted-secondary-color: #c59b78;
  --error-color: #f00;
  --error-color-dark: #b00000;
  --code-bg: #d3bca8;
  --card-bg: #d3bca8;
  --listbox-bg: #d3bca8;

  // redesigned
  --dark-bg-redesigned: #FFF;
  --bg-redesigned: #EFF5F6;
  --light-bg-redesigned: #E2EEF1;
  --text-redesigned: #141C1F;
  --hint-redesigned: #ADBCC0;
  --cancel-redesigned: #F77;
  --save-redesigned: #62DE85;
  --icon-redesigned: #5ED3F3;
  --accent-redesigned: #00C8FF;

  // Skeleton
  --skeleton-shadow: rgba(58 58 58 / 60%);
  --skeleton-color: rgba(58 58 58 / 60%);
}