.app_normal_theme {
  --bg-color: #e1ccbb;
  --secondary-bg-color: #c59b78;
  --primary-color: #3a3a3a;
  --inverted-primary-color: #e1ccbb;
  --secondary-color: #6c6c6c;
  --inverted-secondary-color: #c59b78;
  --error-color: #f00;
  --error-color-dark: #b00000;
  --code-bg: #d3bca8;
  --card-bg: #d3bca8;

  // Skeleton
  --skeleton-shadow: rgba(58 58 58 / 60%);
  --skeleton-color: rgba(58 58 58 / 60%);
}