.Button {
  cursor: pointer;
  color: var(--primary-color);
  background: var(--bg-color);
  border: none;
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: transparent;
  transition: opacity 0.15s;

  &:hover {
    opacity: 0.7;
    fill-opacity: 0.7;
    stroke-opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
    fill-opacity: 0.4;
    stroke-opacity: 0.4;
  }
}

.outline {
  padding: 20px 15px;
  border: 2px var(--secondary-color) solid;
  color: var(--primary-color);
  background: none;
  transition: all 0.3s;

  &:hover {
    background: var(--secondary-bg-color);
    border: 2px var(--primary-color) solid;
    color: var(--secondary-color);
  }

  &:active {
    background: var(--bg-color);
    color: var(--primary-color);
    border: 2px var(--secondary-color) solid;
  }
}

.outline_red {
  padding: 20px 15px;
  border: 2px var(--error-color-dark) solid;
  color: var(--error-color-dark);
  background: none;
  transition: all 0.3s;

  &:hover {
    background: var(--secondary-bg-color);
    border: 2px var(--error-color) solid;
    color: var(--error-color);
  }

  &:active {
    background: var(--bg-color);
    color: var(--error-color);
    border: 2px var(--error-color) solid;
  }
}

.disabled {
  background: var(--bg-color);
  cursor: auto;
  color: var(--secondary-color);
  opacity: 0.5;
}

.fullWidth {
  width: 100%;
}

// Sizes

.size_m {
  padding: 10px;
  font: var(--font-m);
}

.size_l {
  padding: 15px;
  font: var(--font-l);
}

.size_xl {
  padding: 20px;
  font: var(--font-xl);
}