.profileCard {
  padding: 20px;
  border: 2px solid var(--primary-color);

  .avatarWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .input {
    margin-top: 30px;
  }

  .loading,
  .error {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}