.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: var(--primary-color) solid 1px;
  padding: 10px;
  margin: 5px 0;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;

  .avatar {
    margin-right: 10px;
  }
}

.isLoading {
  border: none;
}